.card{
    border-radius: 15px;
}

.line-item-cards{
    margin:2rem 2rem;
    
}

.card-img-side{
    width: 200px; /* Set your desired width */
    height: 200px; /* Set your desired height */
    object-fit: contain; 

}