:root {
  --color-primary: rgb(253, 132, 18);
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: rgb(248, 105, 9);
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: rgba(253, 132, 18, 0.541);
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/static/img/bg2.jpg);
  background-size: cover;
  background-position: center;

  height: 100vh;
  background-attachment: fixed;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0;
  color: #fff;
  font-size: 340%;
  word-spacing: 3px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

h2 {
  font-size: 2.4rem;
  font-weight: 500;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

/*******NAV*******/

.nav {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  height: 7.5rem;
  width: 100%;
  padding: 0 8rem;
  z-index: 100;
  background-color: transparent;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  /* margin-top: 4rem; */
  height: 4.5rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 57%;
}

.login__links {
  display: flex;
  /* align-items: center; */
  list-style: none;
}

#event_link {
  margin-top: 1rem;
}

.nav__item {
  margin-left: 4rem;
  /* margin-top: 4rem; */
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.login__link:link,
.login__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: white;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: white;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

/* GENERAL ELEMENTS */

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 62.5%;
}

.section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.9rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;
}

.features__img {
  width: 100%;
}

.features__feature {
  align-self: center;
  justify-self: center;
  width: 70%;
  font-size: 1.5rem;
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-opacity);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.features__icon svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-primary);
}

.features__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/***Slider****/
.slider {
  height: 90vh;
  margin: 0 6%;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  transition: transform 1s;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.dots__dot {
  background-color: #b9b9b9;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  border: none;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot--active {
  background-color: #fff;
  /* background-color: #888; */
  opacity: 1;
}

/* FOOTER */
.footer {
  padding: 8rem 3rem;
  background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.4rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.6rem;
}
