<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/baseStyle.css') }}"
    />
    {% block links %} {% endblock %} {% block js%} {% endblock %}

    <title>{% block title %} {% endblock %}</title>

    <!-- <script defer src="js/baseScript.js"></script> -->
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="#"
          ><img
            src="static/img/icon.png"
            alt="XLR8 logo"
            class="nav__logo"
            id="logo"
        /></a>
        <a class="navbar-brand" href="#"
          ><i><b>Buying360</b></i></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('landing_page')}}">Shopping</a>
            </li>

          </ul>

          {% if current_user.is_authenticated %}
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('submitted_pr_page')}}">View Submitted PRs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('cart_page')}}">View Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Welcome, {{ current_user.username }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout_page')}}">Logout</a>
            </li>
          </ul>

          {% else %}
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login_page')}}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register_page') }}"
                >Register</a
              >
            </li>
          </ul>
          {% endif %}
        </div>
      </nav>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        <button
          type="button"
          class="m1-2 mb-1 close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
      {%endfor%} {% endif %} {% endwith %} {% block header_content %} {%
      endblock %}
    </header>

    {% block content %} {% endblock %}
    <footer class="footer">
      <a href="#"
        ><img src="static/img/icon.png" alt="Logo" class="footer__logo"
      /></a>
      <p class="footer__copyright">Buying360</p>
    </footer>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var cardTitles = document.querySelectorAll(".card-title");
        cardTitles.forEach(function(title) {
          var maxChars = 30; // Adjust this number according to your preference
          var text = title.textContent;
          if (text.length > maxChars) {
            title.textContent = text.substr(0, maxChars) + '...';
          }
        });
      });
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
