{% extends 'base.html' %} {% block links %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/cartPageStyle.css') }}"
/>{% endblock %}{% block title %} Cart {% endblock %} {% block content %}

    <div class="container">
        <!-- <div class="col-9 "> -->
            <!-- <div class="row" style="margin: 2.5rem 7rem 0rem 7rem">
                <div class="col-lg-9">
                    <h3>Order Summary</h3>
                </div>
            </div> -->
            {% if line_items == [] %}

            <div class="row">
              <h2>Your cart is currently empty.</h2>
            </div>

            {% else %}
            <div class="row">
            {% for line_item in line_items %}
            
                
                  <div class="col-lg-9">
                    <div class="card wide-card line-item-cards">
                      <div class="card-body">
                        <h5 class="card-title">{{line_item.product_name}}</h5>
                        <p class="card-text">Quantity: {{line_item.quantity}}</p>
                        <p class="card-text">Cost: <span style="color:green">${{line_item.total_price}}</span></p>
                        <!-- You can add more content here -->
                      </div>
                    </div>
                  </div>
                
             

            {% endfor %}
        <!-- </div> -->
        
                <div class="col-lg-3">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">Ship To: </p>
                      <p class="card-text">Address: </span></p>
                      <form method="POST" autocomplete="off">
                        {{ submit_request_form.hidden_tag() }}
                      <p> {{ submit_request_form.submit(class="btn btn-lg btn-primary") }}</p>
                    </form>
                      <!-- You can add more content here -->
                    </div>
                  </div>
                </div>
            </div>
            {% endif %}
              </div>
              {% if line_items != [] %}
              <div class="col-15">
                <div class="container popular-items-section">
                  
                  <div class="popular-items"><h5>You may also like ...</h5></div>
                  {% if recommended_products|length == 0 %}
                    <div style="text-align: center;"><h4>Oops! We don't have any recommendations for you :\</h4></div>
                    {% else %}
                  <div class="row">
                    {% for recommended_product in recommended_products %}
                    <div class="col-md-4">
                      <div class="card">
                        <img src="static/img/product_imgs/{{recommended_product.id}}.png" class="card-img-top" alt="Product Image">
                        <div class="card-body">
                          <h5 class="card-title">{{ recommended_product.product_name }}</h5>
                          <p class="card-text"><span style="font-weight: bold;">{{recommended_product.price}}</span> USD per each</p>
                          <form method="POST" >
                            {{ add_to_cart_form.hidden_tag() }}
                          <input
              id="add_to_cart_item"
              name="add_to_cart_item"
              type="hidden"
              value="{{recommended_product.id}}"
            />
            {{ add_to_cart_form.submit(class = "btn btn-primary btn-block")}}
                          
                          </form>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                  </div>
              </div>
          </div>
          {% endif%}
              
        
  
{% endblock %}
