{% extends 'base.html' %} {% block links %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/landingPageStyle.css') }}"
/>{% endblock %}{% block title %} Search Results {% endblock %} {% block content %}

    <div class="section-2">
      <div class="container">
        <form action = "/process_search" method="POST" class="search-form" autocomplete="off">
          <input type="text" class="search-bar " name="searched" placeholder="Search..." autocomplete="false">
          <button type="submit" class="btn search-submit ">Search</button>
    
      </form>
    </div>
  </div>
     
          <div class="col-15">
            <div class="container custom-container ">
              <div class="popular-items"><h5>Search Results</h5></div>
              {% if searched_products|length == 0  %}
                <div style="text-align: center;"><h4>There are no items that match your search "{{search_query}}"</h4></div>
                {% else %}
              <div class="row">
                {% for searched_product in searched_products %}
                <div class="col-md-4">
                  <div class="card">
                    
                    <img src="static/img/product_imgs/{{searched_product.id}}.png" class="card-img-top" alt="Product Image">
                 
                    <div class="card-body">
                      <h5 class="card-title">{{ searched_product.product_name }}</h5>
                      <p class="card-text"><span style="font-weight: bold;">{{searched_product.price}}</span> USD per each</p>
                      <form method="POST">
                        {{ add_to_cart_form.hidden_tag() }}
                      <input
          id="add_to_cart_item"
          name="add_to_cart_item"
          type="hidden"
          value="{{searched_product.id}}"
        />
        {{ add_to_cart_form.submit(class = "btn btn-primary btn-block")}}
                      
                      </form>
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
              </div>
          </div>
      </div>
      
     
  
{% endblock %}

