{% extends 'base.html' %} {% block links %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/registerStyle.css') }}"
/>
{% endblock %} {% block title %} Login {% endblock %} {% block content %}
<div class="row-login">
  <form method="POST" class="form-signin" autocomplete="off">
    {{ form.hidden_tag() }}

    <h1 class="h2 mb-3 font-weight-normal">Please Sign In.</h1>
    <br />
    {{ form.username(class="form-control login-input",placeholder = "User Name", autocomplete="false")
    }}
    {{ form.password(class="form-control login-input",placeholder = "Password", autocomplete="false")
    }}

    <br />

    {{ form.submit(class="btn btn-lg btn-primary") }}
    <div class="reg-link checkbox mb-3">
      <h6>Do not have an account?</h6>
      <a href="{{ url_for('register_page') }}"
        >Click here to create an account</a
      >
    </div>
  </form>
</div>
{%endblock%}
